*.egg-info
*.pyc
__pycache__/
.env
.tox
.TAGS
build
dist/
MANIFEST
_trial_temp
/.coverage
/.coverage.*
coverage.xml
htmlcov
.PYLINTERS_ACK_ERRORS.log
.noseids
servers/*/kafka-bin
servers/dist
/docs/html
*.swp
.DS_Store
